{% extends 'skeleton.html' %}
{% load staticfiles %}

{% block header_image %}
<header class="intro-header" style="background-image: url('{% static "startbootstrap/img/philosophy.jpg" %}')">
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	{% for article in articles %}
		<div class="post-preview">
			<a href="post.html">
				<h2 class="post-title">
					{{ article.title }}
				</h2>
			</a>
			<br>
		{% autoescape off %}
			{{ article.content }}
		{% endautoescape %}
			<br><br>
			<p class="post-meta">Created by <a href="#">{{ article.author }}</a> on {{ article.created }}</p>
		</div>
		<hr>
	{% endfor %}
	</div>
</div>
{% endblock %}