{% load staticfiles %}
<!-- jQuery -->
<script src="{% static 'startbootstrap/vendor/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'startbootstrap/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Contact Form JavaScript -->
<script src="{% static 'startbootstrap/js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'startbootstrap/js/contact_me.js' %}"></script>

<!-- Theme JavaScript -->
<script src="js/clean-blog.min.js"></script>